@use './styles/partials/global';

.box {
  max-width: 100%;
  margin: 0 auto;
  margin-left: 150px;
  background-repeat: repeat;
  display: grid;
  grid-template-columns: 30% 60%;
  align-items: start;
  justify-content: space-between;
}

.box2 {
  padding-right: 10%;
}

.bio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1rem 4rem;
}
.home {

  &__wrapper {
  max-width: 50%;
  margin: 1.25rem auto;
  background-repeat: repeat;
  justify-content: space-between;
}

}