/* Website Styles */

* {
  font-size: 100%;
}

body {
  background-color: black;
  color: slategrey;
  font-size: 14px;
  font-family: 'Josefin Sans', sans-serif;
}

h1 {
  colour: blue;
  font-size:36px;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
}

h2 {
  font-size: 24px;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
  color: grey;
}

p {
  font-size: 18px;
  font-family: 'Josefin Sans', sans-serif;
  color: white;
}

li {
  font-size: 14;
  font-family: 'Josefin Sans', sans-serif;
  color: papayawhip;
}

section {
  color: papayawhip;
  font-family: 'Josefin Sans', sans-serif;
  font-family: 'Montserrat', sans-serif;
}
