/* Website Styles */

* {
  font-size: 100%;
  font-family: 'Castoro', serif;
  font-family: 'Fira Sans', sans-serif;
  margin: 0;
  line-height: 2;
  box-sizing: content-box;
  /* border: 1px solid red; */
}

body {
  background-color: black;
  color: slategrey;
  font-size: 14px;
  margin: 50px;
}

.title {
  font-size: 48px;
}

h1 {
  font-weight: bold;
  text-align: center;
}

h2 {
  font-size: 24px;
  font-weight: 700;
  font-style: normal;
  color: grey;
}

h1, h2 {
  margin-bottom: 20px;
}

p {
  font-size: 18px;
  font-weight: normal;
  color: papayawhip;
  margin-top: 10px;
}

li {
  font-size: 16;
  font-family: 'Josefin Sans', sans-serif;
  color: papayawhip;
}

ul, ol {
  margin: 15px 0;
}

section {
  font-family: 'Josefin Sans', sans-serif;
  margin: 40px;
  padding: 30px;
  width: 70%;
}

a:hover {
  color: green;
  text-decoration: underline;
}

a:link,
a:focus,
a:active {
  color: darkblue;
  text-decortation: none;
}

a:hover {
  text-decoration: underline;
}

header,
section,
footer {
  padding: 30px;
}

header {
  border-bottom: 5px solid grey;
}

img {
  width: 50%;
  height: 50%;
}

.bio {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}
